/*##########################################################*/
/*##########################################################*/
/*##########################################################*/

/*Link*/

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition: 0.25s;
}

a:hover {
    transition: 0.25s;
    color: wheat;
    font-size: 22px;
}

/*##########################################################*/
/*##########################################################*/
/*##########################################################*/

/*Header*/

.header {
    height: 100px;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-wrap: wrap;
}

/*##########################################################*/
/*##########################################################*/
/*##########################################################*/

/*Rekkefølge og utforming av linkene*/

.Hjem, .Priser, .Historie {
    border: none;
    text-align: center;
    background-color: transparent;
    padding-top: 30px;
    padding-bottom: 30px;
    flex-grow: 1;
    font-family: 'Montserrat', sans-serif;
}

.Hjem {
    order: 1;
}
.Historie {
    order: 2;
}
.Priser {
    order: 0;
}

/*##########################################################*/
/*##########################################################*/
/*##########################################################*/